/* Profile page */
#profile-wrapper {
    width: 100%;
    height: 100%;
    position: relative;
}

#profile-bckg {
    width: 100%;
    opacity: 0.4;
}

#profile-container {
    position: absolute;
    width: 360px;
    height: 80%;;
    margin: 0 auto;
    top: 40px; left: 0; bottom: 0; right: 0;
    border-radius: 5px;
    background-color: aliceblue;
    text-align: center;
    padding: 15px;
    box-shadow: 6px 6px 5px 0px rgba(0,0,0,0.12);
}

#profile-picture {
    max-height: 300px;
    border-radius: inherit;
}

#profile-info {
    color: dimgray;
}

#profile-name {
    font-size: 1.5em;
}

/* Appearance page */
.theme-container {
    text-align: center;
    display: inline-block;
    margin: 20px;
}