.timeline {
    float: left;
  list-style: none;
  padding: 20px 0 20px;
  position: relative;
    width: 70%;
}
/* vertical line */
.timeline:before {
  top: 0;
  bottom: 0;
  position: absolute;
  content: " ";
  width: 3px;
  background-color: #eeeeee;
  left: 50px;
  margin-left: -1.5px;
}
.timeline >  ul {
    width: 100%;
}
.timeline > li {
    width: 100%;
  margin-bottom: 20px;
  position: relative;
}
.timeline > li:before,
.timeline > li:after {
  content: " ";
  display: table;
}
.timeline > li:after {
  clear: both;
}
.timeline > li:before,
.timeline > li:after {
  content: " ";
  display: table;
}
.timeline > li:after {
  clear: both;
}
.timeline > li > .timeline-panel {
  width: 100%;
  float: left;
    left: 100px;
  border: 1px solid #d4d4d4;
  border-radius: 2px;
  padding: 20px;
  position: relative;
  -webkit-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
    background-color: aliceblue;
}
.timeline > li > .timeline-panel:before {
  position: absolute;
  top: 26px;
  right: -15px;
  display: inline-block;
  border-top: 15px solid transparent;
  border-left: 15px solid #ccc;
  border-right: 0 solid #ccc;
  border-bottom: 15px solid transparent;
  content: " ";
}
.timeline > li > .timeline-panel:after {
  position: absolute;
  top: 27px;
  right: -14px;
  display: inline-block;
  border-top: 14px solid transparent;
  border-left: 14px solid #fff;
  border-right: 0 solid #fff;
  border-bottom: 14px solid transparent;
  content: " ";
}
.timeline > li > .timeline-badge {
  color: #fff;
  width: 50px;
  height: 50px;
  line-height: 50px;
  font-size: 1.4em;
  text-align: center;
  position: absolute;
  top: 16px;
  left: 50px;
  margin-left: -25px;
  background-color: #999999;
  z-index: 100;
  border-radius: 50%;
}

.timeline > li.timeline-inverted > .timeline-panel:before {
  border-left-width: 0;
  border-right-width: 15px;
  left: -15px;
  right: auto;
}
.timeline > li.timeline-inverted > .timeline-panel:after {
  border-left-width: 0;
  border-right-width: 14px;
  left: -14px;
  right: auto;
}
.timeline-title {
  margin-top: 0;
  color: inherit;
}
/* Entry */
#add-entry-form {
    
}

#add-entry-form input[type=text], 
#add-entry-form input[type=time],
#add-entry-form textarea, 
#add-entry-form select{
    width: 100%;
    display: inline;
    box-sizing: border-box;
    border: 1px solid #BEBEBE;
    padding: 12px 20px;
    margin: 8px 0;
    outline: none;  
}

#add-entry-form input[type=text]:focus, 
#add-entry-form input[type=time]:focus,
#add-entry-form textarea:focus, 
#add-entry-form select:focus{
    box-shadow: 0 0 8px #88D5E9;
    border: 1px solid #88D5E9;
}

#add-entry-wrapper {
    display: none;
    z-index: 600;
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.6); /* Black w/ opacity */
    overflow: hidden;
}

#add-entry-container {
    position: absolute;
    background-color: #fefefe;
    margin: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    border: 1px solid #888;
    width: 350px;
    height: 400px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    border-radius: 3px;
    padding: 16px;
  
}

#entry-text {
    padding: 10px 20px;
    height: 100px;
    resize: none;
    box-sizing: border-box;
    display: block;
    width: 100%;
}

.timeline-time, .timeline-location {
    display: inline;
}

.timeline-entry-btns {
    position: absolute;
     top: 0px;
     right: 0px; 
    
}


.timeline-entry-btns button{
    height: 32px;
     width: 32px;
     background-color: transparent;
     border: none;
     color: black;
     font-size: 16px; 
    cursor: pointer;
}

#save-entry, #cancel-entry {
    cursor: pointer;
}
